*{
  margin: 0;
}

.contact-button{
  color: rgb(119, 210, 240);
  background-color: aliceblue;
  padding: 10px 10px;
  font-size: larger;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
}

/* top banner */
header{
  background-image: url(../images/banner/banner3.png);
  mask-repeat: no-repeat;
  background-size: 100% 100%;
}

.banner-container{
  color: aliceblue;
  text-align: end;
  padding: 270px;
}
.banner-title{
  font-size: xx-large;
}
.banner-discription{
  padding: 20px 0px 35px 700px;
}
